<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

    <head>
        <th:block th:replace="~{content/common/headScript :: headerScriptFragment}"></th:block>
    
        <!-- ckeditor 5 -->
        <script src="https://cdn.ckeditor.com/ckeditor5/41.3.1/classic/ckeditor.js"></script>
        <script src="https://cdn.ckeditor.com/ckeditor5/41.3.1/classic/translations/ko.js"></script>
        <script th:src="@{/js/dashboard.js}"></script>

        <style>
            .ck-editor__editable { height: 100px; }
            .ck-content { font-size: 12px; }
        </style>
    </head>
    <body>
        <div class="container">
            <th:block th:replace="~{content/common/header :: headerFragment}"></th:block>

            <!-- ================================ 게시판 상세페이지 영역 ================================ -->

            <div class="container">
                <br><br><br>
                <h2 class="fw-bold">[[${detail.boardTitle}]]</h2>
                <br><br><br>
                <div class="row">
                    <div class="col-6">
                        <p>카테고리 : [[${detail.catgNm}]]</p>
                        <p style="margin-bottom: 3px;">작성일 : [[${detail.regDate}]] &nbsp; 작성자 : [[${detail.boardNickName}]]</p>
                    </div>
                    <div class="col-6" style="text-align: right;">
                        <p style="margin-bottom: 3px;">조회수 : [[${detail.boardCnt}]]</p>
                    </div>    
                </div>
                <hr style="margin-top: 3px;">
                <div style="height: 600px;">
                    <pre th:utext="${detail.boardSubject}">

                    </pre>
                </div>
                <div class="col-12" style="text-align: right;">
                    <a th:href="@{/dashboard/List}" id="list" name="list" class="btn btn-outline-primary">목록</a>
                    <!-- 세션과 유저 일련번호가 같으면 버튼생성 -->
                    <th:block th:if="${session.no == detail.boardUserNo}">
                        <a th:href="@{/dashboard/Edit(boardCd=${detail.boardCd})}" id="edit" name="edit" class="btn btn-outline-secondary">수정</a>
                        <a th:href="@{/dashboard/Delete(boardCd=${detail.boardCd})}" id="delete" name="delete" class="btn btn-outline-danger">삭제</a>
                    </th:block>
                </div>
                <br><hr><br>
                
                <!-- 댓글 작성 부분 -->
                <textarea id="boardComment">
                    
                </textarea>
                <!-- // 댓글 작성 부분 -->
                <div class="row">
                    <div class="col-12" style="text-align: right; margin-top: 5px;">
                        <input type="button" class="btn btn-outline-primary" id="btnCommentSave" name="btnCommentSave" value="등록하기">
                    </div> 
                </div>

            </div>
            <!-- ================================ 게시판 상세페이지 영역 ================================ -->

            <th:block th:replace="~{content/common/footer :: footerFragment}"></th:block>
        </div>

        <script>
            let editor;

            ClassicEditor
                .create( document.querySelector( '#boardComment' ), {
                    language: 'ko'
                })
                .then( newEditor => {
                    editor = newEditor;
                    editor.editing.view.document.on('enter', (evt, data) => {
                        editor.execute('shiftEnter');
                        data.preventDefault();
                        evt.stop();
                        editor.editing.view.scrollToTheSelection();
                    });
                })
                .catch( error => {
                    console.error( error );
                });
            
            document.querySelector( '#btnCommentSave' ).addEventListener( 'click', () => {
                const editorData = editor.getData();
                //btnCommentSave(editorData);
            } );    
       </script>
    </body>
</html>