<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

    <head>
        <th:block th:replace="content/common/headScript :: headerScriptFragment"></th:block>

        <!-- ckeditor 5 -->
        <script src="https://cdn.ckeditor.com/ckeditor5/41.3.1/classic/ckeditor.js"></script>
        <script src="https://cdn.ckeditor.com/ckeditor5/41.3.1/classic/translations/ko.js"></script>

        <style>
            .ck-editor__editable { height: 400px; }
            .ck-content { font-size: 12px; }
        </style>
    </head>
    <body>
        <div class="container">
            <th:block th:replace="content/common/header :: headerFragment"></th:block>
            
            <!-- ================================ 게시판 신규작성 영역 ================================ -->
            <div class="container">
                <select class="form-select" id="searchCddcCd">
                    <option th:each="List : ${catgList}" th:value="${List?.catgCd}" 
                            th:utext="${List?.catgNm}"></option>
                </select>
                <br>
                <textarea id="contents">
                    
                </textarea>
                <br>
                <div class="row">
                    <div class="col-6" style="text-align: left;">
                        <input type="button" class="btn btn-warning" id="btnClear" name="btnClear" value="전체지우기">
                    </div>
                    <div class="col-6" style="text-align: right;">
                        <input type="button" class="btn btn-primary" id="btnSave" name="btnSave" value="등록하기">
                    </div> 
                </div>
                
            </div>
            <!-- ================================ 게시판 신규작성 영역 ================================ -->

            <th:block th:replace="content/common/footer :: footerFragment"></th:block>
        </div>

        <script>

            ClassicEditor.create( document.querySelector( '#contents' ), {
                language: "ko"
            });

       </script>
    </body>

</html>