<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

    <head>
        <th:block th:replace="~{content/common/headScript :: headerScriptFragment}"></th:block>

        <!-- naver Map css -->
        <link rel="stylesheet" th:href="@{/css/navermarker.css}" />
        <!-- naver Map css -->

        <!-- kakao Map Script -->
        <script type="text/javascript" th:src="@{${kakaoMap}}"></script>
        <script type="text/javascript" th:src="@{/js/kakaoClustering.js}"></script>
        <!-- kakao Map Script -->

        <!-- naver Map Script -->
        <script type="text/javascript" th:src="@{${naverMap}}"></script>
        <script type="text/javascript" th:src="@{/js/naverClustering.js}"></script>
        <script type="text/javascript" th:src="@{/js/MarkerClustering.js}"></script> <!-- 네이버지도 클러스터 설정 js 파일 -->
        <!-- naver Map Script -->

        <script type="text/javascript">

            $( document ).ready(function() {
                $("#naverMap").css("display","none");
            });

            function check(sns){
                
                var data = {
                    searchSchoolSe: $("#searchSchoolSe").val()
                    , searchNumOfRows: $("#searchNumOfRows").val()
                    , searchBnhhSe: $("#searchBnhhSe").val()
                    , searchCddcCd: $("#searchCddcCd").val()
                    , searchFondType: $("#searchFondType").val()
                }

                $.ajax({
                    url: "./clusteringGps"
                    , type: 'GET'
                    , data: data
                    , dataType: 'json'
                    , contentType : 'application/charset=utf-8'
                    , success: function (data) {

                        var myItem = data.response.body.items.item;

                        if(sns == 'kakao'){
                            $("#naverMap").css("display","none");
                            $("#kakaoMap").css("display","");
                            kakaoMap(myItem);
                        }
                        else {
                            $("#naverMap").css("display","");
                            $("#kakaoMap").css("display","none");
                            naverMap(myItem);
                        }
                    }
                });
            }
            
        </script>
        
    </head>
    <body>
        <div class="container">
            <th:block th:replace="~{content/common/header :: headerFragment}"></th:block>
            <br>
            <h2 style="text-align: center;">데이터 클러스터링 기능</h2>
            <br>
            <!-- 검색 form -->
            <div class="row">
                <!-- ============================== 1번째 라인 ============================== -->
                <!-- 학교구분 조건 -->
                <div class="col-4">
                    <label for="searchSchoolSe" class="form-label">학교구분</label>
                    <select class="form-select" id="searchSchoolSe">
                        <option value="" selected>전체</option>
                        <option value="초등학교">초등학교</option>
                        <option value="중학교">중학교</option>
                        <option value="고등학교">고등학교</option>
                    </select>
                </div>
                <!-- //학교구분 조건 -->
                
                <!-- 한 페이지 결과 수 조건 -->
                <div class="col-4">
                    <label for="searchNumOfRows" class="form-label">출력데이터양</label>
                    <input type="text" class="form-control" id="searchNumOfRows" value="100"/>
                </div>
                <!-- //한 페이지 결과 수 조건 -->

                <!-- 본교분교 구분 조건 -->
                <div class="col-4">
                    <label for="searchBnhhSe" class="form-label">본교/분교 구분</label>
                    <select class="form-select" id="searchBnhhSe">
                        <option value="" selected>전체</option>
                        <option value="본교">본교</option>
                        <option value="분교">분교</option>
                    </select>
                </div>
                <!-- //본교분교 구분 조건 -->
                <!-- //============================== 1번째 라인 ============================== -->

                <!-- ============================== 2번째 라인 ============================== -->
                <!-- 교육청 구분 조건 -->
                <div class="col-4" style="margin-top: 10px">
                    <label for="searchCddcCd" class="form-label">교육청 구분</label>
                    <select class="form-select" id="searchCddcCd">
                        <option value="0000000" selected>전체</option>
                        <!--<option th:each="List : ${codeList}" th:value="${List?.cddcCd}" 
                            th:utext="${List?.cddcNm}" th:selected="${List?.cddcCd=='7010000'}"></option> -->

                        <option th:each="List : ${codeList}" th:value="${List?.cddcCd}" 
                            th:utext="${List?.cddcNm}"></option>
                    </select>
                </div>
                <!-- //교육청 구분 조건 -->

                <div class="col-4" style="margin-top: 10px">
                    <label for="searchFondType" class="form-label">공립/사립 구분</label>
                    <select class="form-select" id="searchFondType">
                        <option value="" selected>전체</option>
                        <option value="공립">공립</option>
                        <option value="사립">사립</option>
                    </select>

                </div>

                <div class="col-4" style="margin-top: 10px">
                
                </div>
                <!-- //============================== 2번째 라인 ============================== -->

                <br><br>

                <div class="col-6" style="margin-top: 30px">
                    <input type="button" style="width: 100%;" id="naver" class="btn btn-success" onclick="check('naver')" value="네이버 지도 조회" />
                </div>

                <div class="col-6" style="margin-top: 30px">
                    <input type="button" style="width: 100%;" id="kakao" class="btn btn-warning" onclick="check('kakao')" value="카카오 지도 조회" />
                </div>
            </div>
            <!-- //검색 form -->

            <br>

            <div class="row">
                <div class="col">
                    <div id="kakaoMap" style="width:100%;height:800px;"></div>
                   
                    <div id="naverMap" style="width:100%;height:800px;"></div>
                </div>
            </div>

            <th:block th:replace="~{content/common/footer :: footerFragment}"></th:block>
        </div>
    </body>
</html>