<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

    <head>
        <th:block th:replace="content/common/headScript :: headerScriptFragment"></th:block>
        
        <!-- Google Map Script -->
        <script th:src="@{/js/googleMap.js}"></script>
        <script defer th:src="@{${googleMap}}"></script>
        <!-- // Google Map Script -->
    </head>
    <body>
        <!-- main container -->
        <div class="container">
            <th:block th:replace="content/common/header :: headerFragment"></th:block>

            <h1>구글 지도 테스트</h1>
            <div id="map" style="height: 800px;"></div>

            <br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="carway" name="list" value="carway" checked>
                <label class="form-check-label" for="carway">진입로</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="weigth" name="list" value="weigth">
                <label class="form-check-label" for="weigth">계근대</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="cctv" name="list" value="cctv">
                <label class="form-check-label" for="cctv">보관시설</label>
            </div>
            <button type="button" id="clip" class="btn btn-success" onclick="copyToClipBoard()">클립보드</button>

            <br><br>

            <div class="row">
                <label for="carway_x" class="col-sm-1 col-form-label">진입로</label>
                <div class="col-auto">
                    <input type="text" class="form-control" id="carway_x" name="carway_x" value="0">
                </div>
                <div class="col-auto">
                    <input type="text" class="form-control" id="carway_y" name="carway_y" value="0">
                </div>
            </div>
            <br>
            <div class="row">
                <label for="weigth_x" class="col-sm-1 col-form-label">계근대</label>
                <div class="col-auto">
                    <input type="text" class="form-control" id="weigth_x" name="weigth_x" value="0">
                </div>
                <div class="col-auto">
                    <input type="text" class="form-control" id="weigth_y" name="weigth_y" value="0">
                </div>
            </div>
            <br>
            <div class="row">
                <label for="cctv_x" class="col-sm-1 col-form-label">보관시설</label>
                <div class="col-auto">
                    <input type="text" class="form-control" id="cctv_x" name="cctv_x" value="0">
                </div>
                <div class="col-auto">
                    <input type="text" class="form-control" id="cctv_y" name="cctv_y" value="0">
                </div>
            </div>

            <br><br><br><br>

            <textarea id="cliptextarea" style="display: none;">
               
            </textarea>

            <!-- <div id="map" style="width:100%;height:800px;"></div> -->
            <!--<h1 th:text="${clientID}"></h1> -->
            <th:block th:replace="content/common/footer :: footerFragment"></th:block>
        </div>
        <!-- //main container -->

        <script>
            function copyToClipBoard(){
                document.getElementById('cliptextarea').innerHTML = 
                 "    ACCSSRD_LA = " + document.getElementById("carway_x").value + ",\n"
                +"    ACCSSRD_LO = " + document.getElementById("carway_y").value + ",\n"
                +"    MSRSTND_LA = " + document.getElementById("weigth_x").value + ",\n"
                +"    MSRSTND_LO = " + document.getElementById("weigth_y").value + ",\n"
                +"    CSTDY_FCLTY_LA = " + document.getElementById("cctv_x").value + ",\n"
                +"    CSTDY_FCLTY_LO = " + document.getElementById("cctv_y").value;

                var content = document.getElementById('cliptextarea').innerHTML;

                navigator.clipboard.writeText(content)
                    .then(() => {
                    document.getElementById("carway_x").value = 0;
                    document.getElementById("carway_y").value = 0;
                    document.getElementById("weigth_x").value = 0;
                    document.getElementById("weigth_y").value = 0;
                    document.getElementById("cctv_x").value = 0;
                    document.getElementById("cctv_y").value = 0;

                    document.getElementById("latlng").value = "";

                    console.log("Text copied to clipboard...")
                })
                .catch(err => {
                    console.log('Something went wrong', err);
                })
            }

        </script>
        
    </body>
</html>
