<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

    <head>
        <th:block th:replace="~{content/common/headScript :: headerScriptFragment}"></th:block>

        <!-- naver Map Script -->
        <script type="text/javascript" th:src="@{${naverMap}}"></script>
        <script type="text/javascript" th:src="@{/js/naverdirection.js}"></script>
    </head>

    <body>
        <div class="container">
            <th:block th:replace="~{content/common/header :: headerFragment}"></th:block>
            <br>

            <div style="margin-bottom: 10px;">
                <button type="button" class="btn btn-primary" onclick="startgoal()">시작점 / 도착점</button>
                <button type="button" class="btn btn-primary" onclick="waypoints()">경유지 (최대 5개)</button>
                <button type="button" class="btn btn-primary" onclick="searchmap()">검색</button>
                <button type="button" class="btn btn-warning" onclick="clearmap()">마커 및 폴리라인 삭제</button>
            </div>

            <div id="naverMap" style="width:100%;height:800px;"></div>

            <script>
                // 네이버지도 초기화
                const map = new naver.maps.Map('naverMap', {
                    center: new naver.maps.LatLng(37.3595704, 127.105399),
                    zoom: 10
                });
            </script>
            <th:block th:replace="~{content/common/footer :: footerFragment}"></th:block>
        </div>
    </body>
</html>