<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

    <head>  
        <th:block th:replace="content/common/headScript :: headerScriptFragment"></th:block>
    </head>
    <body>
        <div class="container">
            <th:block th:replace="content/common/header :: headerFragment"></th:block>
            <br>
            <h2 style="text-align: center;">개발한 기능들</h2>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">SNS 로그인 기능</h5>
                            <br>
                            <p class="card-text">구글, 네이버, 키키오 로그인을 fegin, session을 활용하여 백엔드 방식으로 개발</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">구글지도를 활용한 좌표 획득 기능</h5>
                            <br>
                            <p class="card-text">지도상으로 특정위치에 클릭을 하면 해당 좌표가 입력이 되고 클립보드 버튼을 클릭하면 쿼리로 변환</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">데이터 클러스터링 기능</h5>
                            <br>
                            <p class="card-text">네이버, 카카오 지도를 활용해 공공데이터 (초중고 위치데이터)를 화면에 출력하여 데이터 시각화처리</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" style="padding-top: 12px">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">이메일 인증 기능</h5>
                            <br>
                            <p class="card-text">JavaMailSender를 활용하여 시스템에서 제공하는 인증번호를 통해 본인인증을 하는 기능 개발</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" style="padding-top: 12px">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">게시판 기능</h5>
                            <br>
                            <p class="card-text">기본적인 생성, 읽기, 수정, 삭제 기능이 탑재된 게시판에 댓글 기능을 더한 기능 개발</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <th:block th:replace="content/common/footer :: footerFragment"></th:block>
        </div>
        
    </body>
</html>